@use '../../_shared' as *

.itemContainer
    list-style-type: none
    +flex(row, flex-start, center)
    width: 100%
    box-sizing: border-box
    gap: 10px
    border-bottom: 1px solid $primary
    font-size: 0.8rem

    input
       flex-shrink: 0
       cursor: pointer

    p
        flex: 1
        text-align: left
        min-width: 0
        word-break: break-all
        overflow: hidden
        word-wrap: break-word

    button
        height: 25px
        margin-left: auto
        flex-shrink: 0
        cursor: pointer
        +btn
        padding: 4px 8px


.completed
    p
        text-decoration: line-through
        opacity: 0.6

