.formContainer 
    width: 90%
    display: flex
    justify-content: center
    gap: 0.5px

    button
        background-color: #82e9f6
        border-radius: 10%
        border: 1px solid black

 
.inputField
    max-width: 70%
    border: 1px solid black
